<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Teslog{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
  <header>
    <h1>Teslog</h1>
    {% block header_extra %}{% endblock %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="{{ url_for('static', path='vendor/chart.umd.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
